@import url("./styles/common.css");

footer {
  text-align: center;
}

footer a {
  opacity: 0.3;
  transition: opacity 0.15s;
  text-decoration: none;
}

footer a:hover {
  opacity: 1;
}

footer > a::before,
footer > a::after {
  content: " \2620  ";
}
