@import url("./reset.css");
@import url("./normalize.css");
@import url("./sanitize.css");

:root {
  /* Fonts */
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
  --font-mono: font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

  --border-radius: 0.3rem;
  --site-padding: calc(1rem + 2vw);
}

body {
  font-family: var(--font-sans);
}

a:link,
a:active,
a:visited,
a:hover {
  color:inherit;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: var(--site-padding);
}

#page > header {
  flex: 0;
  line-height: 1;
}
#page > main {
  flex: 1;
}
#page > footer {
  flex: 0;
  line-height: 1;
}
